
<div [formGroupName]="controlKey()">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-margin-bottom" offset-lg="2" size-lg="6" size-sm="10" offset-sm="1">
          <ion-input
            formControlName="street"
            enterkeyhint="next"
            color="medium"
            label="Sreet"
            label-placement="floating"
            fill="outline"
            type="text"
            [required]="true"
            [helperText]="streetIsComfirmed() ? 'Comfirmed' : 'Have to be confirmed, required'"
            errorText="Have to be confirmed, required"
            clearInput="true">
              @if(addressIsSearching() ) {
                <ion-spinner name="dots" slot="end"></ion-spinner>
              } @else {
                <ion-button [disabled]="streetIsComfirmed()" (click)="onStreetSearch()" fill="clear" slot="end">
                  @if(streetIsComfirmed()) {
                    <ion-icon color="success" slot="icon-only" name="chevron-down-circle"></ion-icon>
                  } @else {
                    <ion-icon  slot="icon-only" name="search-outline"></ion-icon>
                  }
                </ion-button>
              }
          </ion-input>
      </ion-col>
    </ion-row>

    @if(predictions.length > 0) {
      <ion-row>
        <ion-col class="ion-margin-bottom" offset-lg="2" size-lg="6" size-sm="10" offset-sm="1">
          <ion-select
            (ionChange)="onConfirmedStreetChange($event)"
            (ionCancel)="onConfirmedStreetCancel()"
            (ionDismiss)="onConfirmedStreetDismiss()"
            interface="modal"
            placeholder="Select confirmed street">
            @for (prediction of predictions; track $index) {
              <ion-select-option [value]="prediction"> {{ prediction.structured_formatting.main_text }} , {{prediction.distance_meters}} </ion-select-option>
            }
          </ion-select>
        </ion-col>
      </ion-row>
    }

    <ion-row>
      <ion-col class="ion-margin-bottom" offset-lg="2" size-lg="3" size-sm="5" offset-sm="1">
          <ion-input
            formControlName="house"
            enterkeyhint="next"
            color="medium"
            label="House"
            label-placement="floating"
            fill="outline"
            type="text"
            maxlength="5"
            [required]="true"
            helperText="House number, required"
            errorText="required"
            clearInput="true">
          </ion-input>
      </ion-col>

      <ion-col class="ion-margin-bottom" offset-lg="2" size-lg="3" size-sm="5" offset-sm="1">
        <ion-input
          formControlName="flat"
          enterkeyhint="next"
          color="medium"
          label="Flat"
          label-placement="floating"
          fill="outline"
          type="number"
          [required]="true"
          helperText="Flat number, required"
          errorText="required"
          clearInput="true">
        </ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>


