

.container {
  height: 300px;
  width: 100%;
  background-color: var(--ion-color-light-tint);
  border: 2px solid;
  border-color: black;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
  padding: 8px;
}

.mr-14 {
  margin-right: -14px;
}

.clickable:hover {
  cursor: pointer !important;
}
