<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="primary-tint-toolbar">
    <ion-title>visits</ion-title>
    <ion-avatar class="small-avatar ion-margin-start ion-margin-end" slot="start">
      <img class="small-avatar__logo" alt="Logo" src="../../../assets/icon/white-logo-90.png" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar class="primary-tint-toolbar">
      <ion-title size="large">visits</ion-title>
      <ion-avatar class="small-avatar ion-margin-start ion-margin-end" slot="start">
        <img class="small-avatar__logo" alt="Logo" src="../../../assets/icon/white-logo-90.png" />
      </ion-avatar>
    </ion-toolbar>
  </ion-header>
</ion-content>
