<ion-header  class="ion-no-border">
  <ion-toolbar class="primary-tint-toolbar">
    <ion-title >Price list</ion-title>
    <ion-avatar class="small-avatar ion-margin-start ion-margin-end" slot="start">
      <img class="small-avatar__logo" alt="Logo" src="../../../assets/icon/white-logo-90.png" />
    </ion-avatar>
    <ion-buttons slot="end">
      <ion-back-button color="light" text="BACK" icon="caret-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar
      #search
      show-clear-button='always'
      debounce = "150"
      showCancelButton= 'never'
      placeholder="Search by name (min 3 symbols)"
      (ionInput) = "onNameFilterInput($event.target.value)">
    </ion-searchbar>
  </ion-toolbar>

  <ion-breadcrumbs color="primary" class="ion-margin-start ion-margin-end">
    <ion-breadcrumb >
      <ion-icon color="primary" slot="start" name="home" (click)="onHeaderFolderClick('')" ></ion-icon>
      <ion-icon color="primary" slot="separator" name="chevron-forward-outline"></ion-icon>
    </ion-breadcrumb>
    @for (folder of folderTree(); track $index) {
      <ion-breadcrumb color>
        <div (click)="onHeaderFolderClick(folder.id)"> {{ folder.name }} </div>
        <ion-icon color="primary" slot="separator" name="chevron-forward-outline"></ion-icon>
      </ion-breadcrumb>
    }
  </ion-breadcrumbs>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col offset-lg="4" size-lg="4" size-sm="10" offset-sm="1">
        <ion-list>
          @for (good of goodsView(); track $index) {
            <ion-item (click)="onGoodClick(good)">
              @if(good.isFolder) {
                <ion-icon
                  slot="start"
                  name="folder"
                  color="warning">
                </ion-icon>
              } @else {
                @if(selectedGoods[good.id]; as selected) {
                  <ion-badge (click)="onQuontityClick(selected.quontity, selected.id, good.name)" slot="start"> {{ selected.quontity }} </ion-badge>
                } @else {
                  <ion-checkbox slot="start" [value]="good" checked="false" (ionChange)="onGoodSelect(good)"></ion-checkbox>
                }
              }
              <ion-label> {{ good.name }} </ion-label>
              @if(!good.isFolder) {
                <ion-note slot="end" color="primary"> {{ good.price }} </ion-note>
                <ion-note slot="end" color="primary"> {{ good.rest }} </ion-note>
              }
            </ion-item>
          }
          @empty {
            <ion-item>
              <ion-label> Nothing was found </ion-label>
            </ion-item>
          }
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  @if(!showFooter) {
    <ion-fab class="ion-padding" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="onShowActions()" color='primary' class="fab">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  }

</ion-content>

@if(showFooter) {
  <ion-footer class="fixed-bottom">
    <ion-toolbar color='light'>
      <ion-toggle class="ion-margin-start" (ionChange)="showSelectedOnly.set($event.detail.checked)" slot="start" [checked]="showSelectedOnly()">show selected only</ion-toggle>

      <ion-buttons slot="end">
        <ion-button (click)="Cancel()" class="text-accent" size='large' expand='block' color='danger'> <ion-icon name="close-outline"></ion-icon></ion-button>
        <ion-button (click)="Save()" class="text-accent" size='large'  color='success' > <ion-icon  name="checkmark-outline"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
}




