<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="primary-tint-toolbar">
    <ion-title size="large">price list</ion-title>
    <ion-avatar class="small-avatar ion-margin-start ion-margin-end" slot="start">
      <img class="small-avatar__logo" alt="Logo" src="../../../assets/icon/white-logo-90.png" />
    </ion-avatar>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      (keyup.enter)="OnSearhLeave()"
      #search
      show-clear-button='always'
      debounce = "150"
      showCancelButton= 'never'
      placeholder="Search by name (min 3 symbols)"
      (ionInput) = "OnNameFilterInput($event.target.value)">
    </ion-searchbar>
  </ion-toolbar>

  <ion-breadcrumbs color="primary" class="ion-margin-start ion-margin-end">
    <ion-breadcrumb >
      <ion-icon color="primary" slot="start" name="home" (click)="onHeaderFolderClick('')" ></ion-icon>
      <ion-icon color="primary" slot="separator" name="chevron-forward-outline"></ion-icon>
    </ion-breadcrumb>
    @for (folder of folderTree(); track $index) {
      <ion-breadcrumb color>
        <div (click)="onHeaderFolderClick(folder.id)"> {{ folder.name }} </div>
        <ion-icon color="primary" slot="separator" name="chevron-forward-outline"></ion-icon>
      </ion-breadcrumb>
    }
  </ion-breadcrumbs>

</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar class="primary-tint-toolbar">
      <ion-title size="large">price list</ion-title>
      <ion-avatar class="small-avatar ion-margin-start ion-margin-end" slot="start">
        <img class="small-avatar__logo" alt="Logo" src="../../../assets/icon/white-logo-90.png" />
      </ion-avatar>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar
        (keyup.enter)="OnSearhLeave()"
        #search
        show-clear-button='always'
        debounce = "150"
        showCancelButton= 'never'
        placeholder="Search by name (min 3 symbols)"
        (ionInput) = "OnNameFilterInput($event.target.value)">
      </ion-searchbar>
    </ion-toolbar>
    <ion-breadcrumbs color="primary" class="ion-margin-start ion-margin-end">
      <ion-breadcrumb >
        <ion-icon color="primary" slot="start" name="home" (click)="onHeaderFolderClick('')" ></ion-icon>
        <ion-icon color="primary" slot="separator" name="chevron-forward-outline"></ion-icon>
      </ion-breadcrumb>
      @for (folder of folderTree(); track $index) {
        <ion-breadcrumb >
          <div (click)="onHeaderFolderClick(folder.id)"> {{ folder.name }} </div>
          <ion-icon color="primary" slot="separator" name="chevron-forward-outline"></ion-icon>
        </ion-breadcrumb>
      }
    </ion-breadcrumbs>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col offset-lg="4" size-lg="4" size-sm="10" offset-sm="1">
        <ion-list>
          @for (good of goodsView(); track $index) {
            <ion-item (click)="onGoodClick(good)">
              <ion-icon
                slot="start"
                [name]="good.isFolder ? 'folder' : 'remove'"
                [color]="good.isFolder ? 'warning' : 'primary'">
              </ion-icon>
              <ion-label> {{ good.name }} </ion-label>
              @if(!good.isFolder) {
                <ion-note slot="end" color="primary"> {{ good.price }} </ion-note>
                <ion-note slot="end" color="primary"> {{ good.rest }} </ion-note>
              }
            </ion-item>
          }
          @empty {
            <ion-item>
              <ion-label> Nothing was found </ion-label>
            </ion-item>
          }
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<!-- <ion-footer>
  <ion-toolbar color='light'>
    <ion-buttons slot="end">
      <ion-button class="text-accent" size='large' expand='block' color='danger'> <ion-icon name="close-outline"></ion-icon></ion-button>
      <ion-button class="text-accent" size='large'  color='success' > <ion-icon  name="checkmark-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> -->

