.primary-tint-toolbar {
  --background: var(--ion-color-primary-tint);
  --color: var(--ion-color-primary-contrast);
}

.small-avatar{
  display: flex;
  align-items: center;
  &__logo {
    max-width: 70%;
    max-height: 70%;
    --border-radius: 0px;
  }
}

.text-accent {
  font-size: larger;
  font-weight: bolder;
}

.form-block {
    background-color: var(--ion-color-light-tint);
    border: 1px solid;
    border-color: var(-ion-text-color);
    border-radius: 4px;
}
