<ion-header>
  <ion-toolbar class="primary-tint-toolbar">
    <ion-title >Document list</ion-title>
    <ion-avatar class="small-avatar ion-margin-start ion-margin-end" slot="start">
      <img class="small-avatar__logo" alt="Logo" src="../../../assets/icon/white-logo-90.png" />
    </ion-avatar>
    <ion-buttons slot="end">
      <ion-back-button color="light" text="BACK" icon="caret-back" defaultHref="home/price"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col offset-lg="4" size-lg="4" size-sm="10" offset-sm="1">
        <ion-list>

          @for (visit of visitsView(); track $index) {
            <ion-item>
              <ion-nav-link router-direction="forward" [component]="documentDetail" [componentProps]="{ id: visit.id, nav}">
                <ion-label> {{ visit.confirmedStreet.length > 0 ? visit.confirmedStreet : visit.street  }} {{visit.house}} / {{visit.flat}} </ion-label>

              </ion-nav-link>
              <ion-note slot="end"> {{ visit.docDate | date: 'YYYY-MM-dd hh:mm:ss' }} </ion-note>
              <ion-button (click)="onVisitDelete(visit)" slot="start">
                <ion-icon slot="icon-only" name="trash"> </ion-icon>
              </ion-button>
            </ion-item>
          }
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar color='light'>
    <ion-buttons slot="end">
      <ion-nav-link router-direction="forward" [component]="documentDetail" [componentProps]="{ id: '', nav }">
        <ion-button  size="small" color="dark">Create new visit</ion-button>
      </ion-nav-link>
    </ion-buttons>


    <ion-buttons slot="end">
      <ion-button (click)="goBack()" class="text-accent" size='large' expand='block' color='danger'> <ion-icon name="close-outline"></ion-icon></ion-button>
      <ion-button (click)="goBack()" class="text-accent" size='large'  color='success' > <ion-icon  name="checkmark-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

