<ion-header >
  <ion-toolbar class="primary-tint-toolbar">
    <ion-title >Document detail</ion-title>
    <ion-avatar class="small-avatar ion-margin-start ion-margin-end" slot="start">
      <img class="small-avatar__logo" alt="Logo" src="../../../assets/icon/white-logo-90.png" />
    </ion-avatar>
    <ion-buttons slot="end">
      <ion-back-button #backbtn color="light" text="BACK" icon="caret-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form class="ion-margin form-block" [formGroup]="documentHeaderForm">
    <ion-grid>
      <ion-row>
        <ion-col>
          <app-address-autocomplete tabindex="1" controlKey="visitAddress" controlLabel="Address of visit"></app-address-autocomplete>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-margin-bottom" offset-lg="2" size-lg="6" size-sm="10" offset-sm="1">
          <ion-input
            tabindex="4"
            appAutoselect
            formControlName="contract"
            enterkeyhint="next"
            appAutoselect
            color="medium"
            label="Contract №"
            label-placement="floating"
            fill="outline"
            type="text"
            helperText="Enter a contract № (optional)"
            clearInput="true">
          </ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-margin-bottom" offset-lg="2" size-lg="6" size-sm="10" offset-sm="1">
          <ion-input
            tabindex="5"
            appAutoselect
            formControlName="comment"
            enterkeyhint="next"
            appAutoselect
            color="medium"
            label="Comment"
            label-placement="floating"
            fill="outline"
            type="text"
            helperText="Enter a comment (optional)"
            clearInput="true">
          </ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-margin-bottom" offset-lg="2" size-lg="6" size-sm="10" offset-sm="1">
          <ion-input
            [value]="docDateValueFormatted()"
            tabindex="6"
            (ionChange)="onDateChange($event)"
            enterkeyhint="next"
            color="medium"
            label="Date of visit"
            label-placement="floating"
            fill="outline"
            type="datetime-local"
            [required]="true"
            helperText="required"
            errorText="required"
            clearInput="true">
          </ion-input>

          <!-- <ion-datetime-button datetime="datetime"></ion-datetime-button>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime
                (ionChange)="onDateChange($event)"
                [value]="docDateValueFormatted()"
                id="datetime">
              </ion-datetime>
            </ng-template>
          </ion-modal> -->
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col  offset-lg="2" size-lg="6" size-sm="10" offset-sm="1">
            <ion-item tabindex="7" (click)="openSelectGoods()" color="primary" [button]="true" [detail]="false" id="select-goods">
              <ion-label>Select goods</ion-label>
              <div slot="end" >total selected: {{ goodsTotal() }}</div>
            </ion-item>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>

<ion-footer class="fixed-bottom">
  <ion-toolbar color='light'>
    <ion-buttons slot="end">
      <ion-button  (click)="onReject()" class="text-accent" size='large' expand='block' color='danger'> <ion-icon name="close-outline"></ion-icon></ion-button>
      <ion-button   (click)="onConfirm()" class="text-accent" size='large'  color='success' > <ion-icon  name="checkmark-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
