
<ion-tabs >
  <ion-tab-bar slot="bottom" color="light">
    <ion-tab-button tab="price">
      <ion-icon  [name]="!(auth.isLoggedin()) ? 'lock-closed-outline' : 'bar-chart-outline' "></ion-icon>
      <ion-label>Price list</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="visits">
      <ion-icon  [name]="!(auth.isLoggedin()) ? 'lock-closed-outline' : 'apps-outline' "></ion-icon>
      <ion-label>Visits</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="onLogout()">
      <ion-icon  [name]="!(auth.isLoggedin()) ? 'lock-closed-outline' : 'lock-open-outline' "></ion-icon>
      <ion-label>Log out</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
